<div class="sidebar">

	<div class="sidebar-section">
		<h5><span>Links</span></h5>
		<ul style="list-style: none;">
			<li><a target="_blank" href="https://awesome.korge.org/">Awesome KorGE Bundles</a></li>
			<li><a target="blank" href="https://discord.korge.org/">KorGE Discord</a></li>
			<li><a target="blank" href="https://slack.korge.org/">KorGE Slack</a></li>
		</ul>
	</div>

	<div class="sidebar-section">
		<h5><span>Sponsor</span></h5>
		<a
				href="https://github.com/sponsors/soywiz/"
				target="_blank"
				title="Donate to KorGE Game Engine"
		>
			<img src="/assets/images/ui/korge-sponsor-button-300x250.png" alt="Donate to KorGE Game Engine"/>
		</a>
	</div>

</div>